<h1>Create an Account</h1>
<div>
	<label class="">First Name</label>
	<div class="">
		{{input type="text" class="input" placeholder="" value=firstName }}
	</div>
</div>
<div>
	<label class="">Last Name</label>
	<div class="">
		{{input type="text" class="input" placeholder="" value=lastName }}
	</div>
</div>
{{outlet}}
